.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 1rem;
  margin: 20px;
  height: 100%;
}


.loginMenu{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  position: relative;
  /* z-index: 1; */
  background:#ffffff;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}
.formHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formHeading span{
  height: 100%;
  width: auto;
  min-height: 25px;
}

.form h3{
  padding: 0  ;
  margin: 10px 0;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.form label{
  color: #595959;
  font-weight: bold;
  margin-bottom: 10px;
}
#showHideForm{
  text-transform: uppercase;
  outline: 0;
  background: #696969;
  width: 10rem;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #696969;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
#submitButton{
  background-color: #595959;
}
#submitButton:hover,
#submitButton:focus,
#submitButton:active{
  background-color:#696969;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #595959;
  transition: 0.5s;
}


/* Error Boundaries */

.ErrorBoundaries{
    margin: 0 auto;
}


.custom-table {
  text-align: center;
  margin-top: 2rem;
  width: 800px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.custom-table td button{
  float: right;
  margin-left: 10px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px;
}
#editButton{

  background-color: rgb(232, 212, 111);
}
#editButton:hover,
#editButton:active,
#editButton:focus{
  background-color: rgb(211, 191, 94);
}
#deleteButton{
  background-color: rgb(199, 47, 30);
}
#deleteButton:hover,
#deleteButton:active,
#deleteButton:focus{
  background-color: rgb(160, 39, 25);
}
.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Modal Styles */

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: #FF9300;
  margin: auto;
}


/* Media Queries  */
/* mobile */
@media only screen and (min-width: 320px) and (max-width:480px){
    .custom-table{
      width: 400px;
      font-size: 1rem;
    }
}